.mont {
  font-family: "Montserrat", sans-serif;
}
:root {
  --KJHK-color: red;
}
.text-kjhk {
  color: var(--KJHK-color) !important;
}
.text-left {
  text-align: left;
}
.bg-black {
  background-color: black;
}
.bg-kjhk {
  background-color: var(--KJHK-color);
}
.smaller-text {
  font-size: 0.95rem;
}
a {
  color: white;
}
a:hover {
  color: var(--KJHK-color);
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  /* max-height: 100vh; */
}
/* Portrait */
@media screen and (orientation: portrait) {
  /* Portrait styles */
  .flexer {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* max-height: 7  0vh; */
    height: 100%;
  }
  .responsive-image {
    max-width: 100% !important;
    height: auto !important;
    width: auto !important;
    max-height: 45vh !important;
  }
  .stretcher {
    /* align-self: stretch; */
    flex-shrink: 1;
    flex-basis: 10%;
  }
  .flex-image {
    /* max-height: 5vh !important; */
  }

  .item {
    /* flex-grow: 1; */
    flex-shrink: 1;
  }
}

/* Laaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaandscape */
@media screen and (orientation: landscape) {
  /* Landscape styles */
  .flexer {
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-height: 60vh;
    height: 100%;
  }
  .responsive-image {
    max-width: 100% !important;
    height: auto !important;
    width: auto !important;
    max-height: 100% !important;
  }

  .stretcher {
    height: 100%;
    width: max-content;
    height: max-content;
  }

  .item {
    /* flex-grow: 1;
    flex-shrink: 1; */
    /* height: 100%; */
  }
}

body {
  display: grid;

  /* grid-template-rows: 12vh 80vh 8vh; */
  /* height: 100vh;
  width: 100vw; */
  height: 100vh;
  width: 100%;
}

.now-playing {
  /* background-color: aqua; */
  /* align-self: start; */
  font-size: 5vmin;
  /* grid-column: 1/ -1; */
}

.song {
  font-style: italic;
  font-size: 5vmin;
}

.by {
  font-size: 3.5vmin;
}

.artist {
  font-size: 5vmin;
  font-weight: bold;
}

.album-text {
  font-size: 5vmin;
}
#kjtext {
  font-weight: 900;
  text-decoration: none;
}
#kjtext:hover {
  filter: blur(1px);
  font-size: 1.1em;
  transform: scale(1.5);
}

.timestamp-font-size {
  font-size: 4vmin;
}
img {
  /* max-height: 80vh; */
  /* max-height: 10%; */
  max-width: 100%;
}
.album-art {
  /* flex-basis: 1fr; */
  /* background-color: cornflowerblue; */
}

.kjhk-art {
  filter: invert(1);
}
.footer {
  font-size: 4vmin;
  /* grid-column: 1 / -1; */
  /* align-self: end; */
  /* background-color: darkblue; */
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.flex-item {
  flex: 1 1 auto;
}
.flex-image {
  flex: 0 1 auto;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -50px;
  /*left: 10px; */
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
